.redes-sass{
    text-align: center;
    h3{
        color: black;
        margin-top: 20px;
    }
    a{
        img{
            width: 70px;
            margin: 50px 80px;
        }
    }
}

@media only screen and (max-width:700px) {
    #redes img{
       width: 70px;
       margin: 50px 20px;
       }

}

@media only screen and (min-width:701px) and (max-width: 980px) {
    #redes img{
       width: 70px;
       margin: 50px 30px;
       }
}

@media only screen and (min-width:981px) and (max-width: 1390px) {
    #redes img{
       width: 70px;
       margin: 50px 30px;
       }
}